* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(135deg, rgb(45, 45, 45), rgb(0, 0, 0));
  z-index: -1;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headBox {
  width: 80%;
  max-width: 600px;
  min-width: 200px;
  height: 60px;
  background: rgba(179, 178, 178, 0.5);
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  z-index: 100;
  backdrop-filter: blur(5px);
}
.headBox ul {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.headBox ul li {
  list-style: none;
}
.headBox ul li a {
  color: white;
  font-family: Poppins;
  font-weight: 500;
  text-decoration: none;
}
.home {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  overflow-x: hidden;
}
.homeRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-end: 150px;
}
.homeRightContainer {
  position: relative;
}
.homeRight img {
  width: 400px;
}
.splineContainer {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-60%) translateY(-65%);
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-end: 50px;
}
.splineWM {
  width: 150px;
  height: 40px;
  background: black;
  position: absolute;
  bottom: 20px;
  right: 55px;
  border-radius: 15px;
  z-index: 3;
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px grey inset;
  transition: 0.3s;
}
.splineWM:hover {
  box-shadow: 0 0 2px white;
}
spline-viewer {
  z-index: -1;
}
.online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background: green;
  animation: online 1s linear infinite;
}
@keyframes online {
  0%,
  100% {
    box-shadow: 0 0 5px green;
  }
  50% {
    box-shadow: 0 0 15px green;
    transform: scale(1.2);
  }
}
.homeLeft {
  width: 50%;
  color: white;
  padding-inline-start: 125px;
  padding-inline-end: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.homeLeft h1 {
  font-size: 4rem;
}
.homeLeft h3 {
  font-size: 2rem;
  color: wheat;
  margin-bottom: 25px;
}
.homeLeft p {
  font-size: 0.95rem;
}
.homeLocal {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 50px;
  color: rgb(255, 221, 227);
}
.homeLocal p {
  font-size: 0.95rem;
}
.homeLocal i {
  color: rgb(55, 55, 55);
  text-shadow: 0 0 3px white;
  margin-right: 5px;
}
.homeBtns {
  margin-top: 20px;
  margin-bottom: 20px;
}
.homeBtns button {
  font-size: 1.15rem;
}
.homeHire {
  padding: 6.5px;
  padding-inline: 10px;
  border-radius: 8px;
  border: 2px solid black;
  background: black;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}
.homeHire:hover {
  background: white;
  color: black;
  transition: 0.6s;
}
.homeHire:active {
  border: 2px solid grey;
  box-shadow: 0 0 20px grey inset;
  transition: 0s;
}
.homeCV {
  padding: 8px 18px;
  border-radius: 8px;
  border: 2px solid transparent;
  position: relative;
  border-radius: 8px;
  background: transparent;
  color: white;
  cursor: pointer;
}
.homeCV::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: 8px;
  clip-path: inset(0 100% 100% 0);
  transition: clip-path 0.6s linear;
}
.homeCV:hover::before {
  clip-path: inset(0 0 0 0);
}
.homeCV:hover {
  animation: change 0s forwards 0.5s;
}
.homeCV:active {
  background: grey;
  transition: 0s;
}
.homeCV:active::before {
  background: grey;
  opacity: 0.5;
  transition: 0s;
}
@keyframes change {
  0% {
  }
  100% {
    background: white;
    color: black;
  }
}
hr {
  width: 95%;
  margin-bottom: 10px;
}
.follow {
  display: flex;
  align-items: center;
}
.follow p {
  font-size: 1.15rem;
}
.follow ul {
  margin-top: 10px;
  margin-left: 35px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}
.follow ul li a img {
  width: 35px;
  transition: 0.4s;
}
.follow ul li a img:hover {
  transform: scale(1.25);
  filter: invert() drop-shadow(0 0 10px grey);
  transform-origin: bottom;
}
.follow ul li a img:active {
  transform: scale(1.15);
  filter: drop-shadow(0 0 10px grey);
}

.about {
  width: 100vw;
  height: 100dvh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 100px;
  gap: 50px;
  box-sizing: border-box;
}

.aboutLeft {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutLeft .aboutImgContainer {
  width: 200px;
  height: 250px;
  perspective: 800px;
  transform: scale(1.5);
}

.aboutLeft .aboutImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform-origin: center;
  border-radius: 20px;
  box-shadow: 0 0 12.5px black;
  transform: rotateX(15deg) rotateY(-10deg);
  transition: transform 0.6s ease;
}

.aboutLeft .aboutImgContainer:hover img {
  transform: rotateX(-15deg) rotateY(15deg);
}

.aboutRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
  min-width: 300px;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.aboutRight .aboutTags {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.aboutRight .aboutTags span {
  padding: 5px 12px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.aboutRight .aboutTags span::after {
  content: "X";
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105%;
  height: 105%;
  position: absolute;
  background: rgba(245, 222, 179, 0.45);
  backdrop-filter: blur(1.5px);
  opacity: 0;
}

.aboutRight .aboutTags span:hover {
  transform: translateY(-5px) scale(1.025);
  box-shadow: 0 0 10px black;
  text-shadow: 0 0 10px black;
  background: rgba(245, 222, 179, 0.35);
}

.aboutRight .aboutTags span:hover::after {
  text-shadow: none;
  animation: block 0.6s ease-in-out forwards 2s;
}

@keyframes block {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact h2 {
  color: white;
}
.contactSubTab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactLeft,
.contactRight {
  width: 50%;
}
.contactLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  color: white;
}
.contactLeft div {
  display: flex;
  gap: 20px;
}
.contactLeft .text {
  flex-direction: column;
  gap: 0px;
}
.contactLeft .contactTab {
  display: flex;
  gap: 25px;
}
.contactLeft .location img,
.contactLeft .phone img,
.contactLeft .email img {
  width: 25px;
  height: 25px;
}
.contactTab li {
  list-style: none;
}
.contactTab li a {
  text-decoration: none;
  border: 2px dotted black;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactTab li a:hover {
  border: 2px dashed black;
  background: rgba(128, 128, 128, 0.1);
}
.contactTab img {
  width: 35px;
}
.contactRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactRightSubTab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.contactRightSubTab input {
  padding-block: 4px;
  padding-inline: 10px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  background: linear-gradient(115deg, white -100%, rgb(78, 78, 78));
  background-size: 200%;
  background-position: left;
}
.contactRightSubTab input::placeholder {
  transition: 0.15s;
  color: rgb(0, 0, 0);
}
.contactRightSubTab input:hover::placeholder {
  color: white;
}
.contactRightSubTab input:hover {
  color: white;
  background-position: right;
}
.contactRightSubTab button {
  padding-block: 2.5px;
  padding-inline: 7.5px;
  border-radius: 10px;
  transition: 0.3s;
}
.contactRightSubTab button:hover {
  box-shadow: 0 0 10px black inset;
}
.contactRightSubTab button:active {
  transition: 0s;
  background: grey;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 35px;
}
footer h1 {
  color: white;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: wheat;
  transition: 0.3s;
  padding-inline: 10px;
  padding-block: 3px;
  font-weight: 600;
}
.footTab li a:hover {
  background: white;
  border-radius: 35%;
  color: black;
}
.footTab li a:active {
  background: grey;
  box-shadow: 1px 1px 2px black inset;
  transition: 0s;
}
.footContact li a img {
  width: 45px;
}
.footContact li a {
  filter: grayscale();
  transition: 0s;
}
.footContact li a:hover {
  filter: grayscale(0%);
}
.footContact li a:active img {
  transform: scale(0.5);
  transition: 0.2s;
}
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: wheat;
}
footer p span {
  font-size: 1.75rem;
}

@media (max-width: 1150px) {
  .homeLeft h1 {
    font-size: 3rem;
  }
  .homeLeft h3 {
    font-size: 1.5rem;
  }
  .follow p {
    font-size: 1.05rem;
  }
  .homeLeft,
  .homeRight {
    transform: scale(0.8);
  }
}
@media (max-width: 950px) and (max-height: 500px) {
  header {
    display: none;
  }
  .homeLeft {
    padding-inline-start: 25px;
  }
}
@media (max-width: 950px) and (min-height: 650px) {
  header {
    justify-content: end;
  }
  .headBox {
    transform: scale(0.8);
    margin-top: 15px;
  }
  .home {
    display: grid;
  }
  .homeLeft {
    padding-inline-start: 50px;
  }
  .homeLeft,
  .homeRight {
    width: 95%;
    padding: 0;
  }
  .homeRightContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .splineContainer {
    position: static;
    transform: translateX(0%) translateY(0%);
  }
  hr {
    width: 100%;
  }
  .follow {
    width: 100%;
  }
  .follow ul {
    margin-left: auto;
  }
  .follow ul li a img {
    filter: drop-shadow(1px 1px 6px rgba(255, 255, 255, 0.35));
  }
}
@media (min-width: 750px) and (max-width: 950px) and (min-height: 650px) {
  .headBox {
    width: 55%;
  }
  .headBox ul {
    gap: 15px;
  }
}
@media (max-width: 750px) {
  .headBox {
    display: none;
  }
}
@media (max-width: 500px) {
  header {
    display: none;
  }
  .home {
    display: grid;
  }
}
@media (min-width: 750px) and (max-width: 800px) {
  .homeRight img {
    transform: scale(0.9);
    transform-origin: center;
  }
  .homeRight .splineContainer {
    transform: scale(0.9);
    transform-origin: center;
  }
}
@media (max-width: 750px) {
  .home {
    align-items: center;
    margin-inline-start: 1.5%;
  }
  .homeLeft {
    width: 87.5%;
  }
  .homeLeft p {
    font-size: 0.8rem;
  }
  .homeRight {
    width: 87.5%;
    margin-top: -60px;
    margin-inline-start: -30px;
  }
  .homeRight img {
    transform: scale(0.8);
    transform-origin: center;
  }
  .homeRight .splineContainer {
    transform: scale(0.8);
    transform-origin: center;
  }
}
@media (max-width: 650px) {
  .home {
    align-items: center;
    margin-inline-start: 0%;
    margin-top: -25px;
  }
  .homeLeft {
    width: 77.5%;
  }
  .homeLeft p {
    font-size: 0.8rem;
  }
  .homeRight {
    width: 87.5%;
    margin-top: -60px;
    margin-inline-start: -30px;
  }
  .homeRight img {
    transform: scale(0.65);
    transform-origin: center;
    margin-left: -40px;
  }
  .homeRight .splineContainer {
    transform: scale(0.65);
    transform-origin: center;
    margin-left: -70px;
  }
}
@media (max-width: 550px) {
  .home {
    align-items: center;
    margin-inline-start: -20px;
    margin-top: -25px;
  }
  .homeLeft {
    width: 70%;
  }
  .homeLeft p {
    font-size: 0.8rem;
  }
  .homeRight {
    width: 87.5%;
    margin-top: -60px;
    margin-inline-start: -30px;
  }
  .homeRight img {
    transform: scale(0.65);
    transform-origin: center;
  }
  .homeRight .splineContainer {
    transform: scale(0.65);
    transform-origin: center;
    margin-left: -85px;
  }
}
@media (max-width: 480px) {
  .home {
    width: 100vw;
    padding: 0px;
    margin: 0px;
    gap: 0px;
  }
  .homeLeft,
  .homeRight {
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .homeLeft {
    margin-top: -70px;
  }
  .homeRight .homeRightContainer {
    position: relative;
    margin-top: -150px;
    height: 300px;
    display: flex;
  }
  .homeRight .homeRightContainer img {
    transform: scale(0.8);
  }
  .homeRight .homeRightContainer .splineContainer {
    position: absolute;
    top: 100px;
    left: 250px;
  }
}
@media (max-width: 400px) {
  .homeRight .homeRightContainer .splineContainer {
    position: absolute;
    top: 100px;
    left: 220px;
  }
}
@media (max-width: 325px) {
  .homeLeft h1 {
    font-size: 2rem;
  }
  .homeLeft h3 {
    font-size: 1rem;
  }
  .homeLeft p {
    font-size: 0.85rem;
  }
  .homeBtns .homeHire,
  .homeBtns .homeCV {
    font-size: 1rem;
    font-weight: 500;
  }
  .follow ul {
    gap: 12px;
  }
  .follow img {
    transform: scale(0.7);
  }
  .homeRight .homeRightContainer img {
    transform: scale(0.6);
    margin-top: -50px;
    margin-left: -80px;
  }
  .homeRight .homeRightContainer .splineContainer {
    position: absolute;
    top: 80px;
    left: 140px;
  }
}

@media (max-width: 1024px) {
  .about {
    padding-inline: 60px;
    gap: 40px;
  }
  .about p {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    height: auto;
    padding-inline: 40px;
    padding-block-start: 10px;
    padding-block-end: 60px;
    text-align: center;
  }

  .aboutLeft .aboutImgContainer {
    transform: scale(1);
    width: 180px;
    height: 220px;
  }

  .about p {
    font-size: 1rem;
  }

  .aboutRight .aboutTags {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .about {
    padding-inline: 20px;
  }

  .aboutLeft .aboutImgContainer {
    width: 160px;
    height: 200px;
  }

  .about p {
    font-size: 0.95rem;
  }

  .aboutRight .aboutTags span {
    font-size: 0.85rem;
    padding: 4px 10px;
  }
}

@media (max-width: 325px) {
  .about {
    width: 100vw;
    padding-inline: 10px;
    margin: 0px;
  }

  .aboutImgContainer {
    width: 160px;
    height: 200px;
  }
  .aboutRight p {
    font-size: 0.75rem;
  }

  .aboutRight .aboutTags {
    padding-inline: 10px;
  }
  .aboutRight .aboutTags span {
    font-size: 0.75rem;
    padding: 4px 10px;
  }
}

@media (max-width: 950px) {
  .contact {
    margin-bottom: 50px;
  }
  .contactSubTab {
    flex-direction: column;
    margin-top: 20px;
    gap: 40px;
    text-align: center;
  }

  .contactTab {
    transform: translateX(50%);
  }
  .contactLeft,
  .contactRight {
    width: 90%;
    justify-content: center;
  }

  .contactLeft div {
    justify-content: center;
  }

  .contactLeft .text {
    text-align: center;
  }

  .contactLeft .contactTab {
    justify-content: center;
  }

  .contactRightSubTab {
    align-items: center;
    width: 90%;
  }

  .contactRightSubTab input,
  .contactRightSubTab button {
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .contactTab {
    transform: translateX(0%);
  }
  .contact {
    margin-top: 30px;
    padding: 20px 0px;
  }

  .contactSubTab {
    width: 100%;
    gap: 25px;
  }

  .contactLeft,
  .contactRight {
    width: 100%;
  }

  .contactLeft {
    padding-inline: 35px;
  }

  .contactRightSubTab {
    width: 100%;
    gap: 15px;
  }

  .contactRightSubTab input,
  .contactRightSubTab button {
    width: 90%;
    font-size: 0.85rem;
  }

  .contactLeft .text p {
    font-size: 0.95rem;
  }

  .contactTab li a {
    border-width: 1.5px;
    padding: 8px;
  }
}

@media (max-width: 325px) {
  .contact {
    padding-inline: 10px;
  }
  .contact h2 {
    font-size: 1.5rem;
  }

  .contactLeft .text p {
    font-size: 0.85rem;
  }

  .contactTab img {
    transform: scale(0.8);
  }

  .contactRightSubTab input,
  .contactRightSubTab button {
    font-size: 0.8rem;
    width: 100%;
  }
}