.base2 {
  display: flex;
  justify-content: center;
}
.quadrakeybox.wrapped-2 {
  padding-inline: 20px;
  justify-content: start;
}
.quadrakeybox {
  justify-content: center;
  padding-inline: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 17.5px;
  margin-top: 20px;
  max-width: 100%;
}
.keys{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
  padding-inline: 20px;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid transparent;
  text-shadow:
    1px 1px 2px rgba(0,0,0,1),
    1px 1px 5px rgba(0,0,0,1),
    1px 1px 10px rgba(0,0,0,1);
}
.keys:hover{
  transition: 0.3s;
  scale: 1.1;
  cursor: pointer;
  border: 1px solid;
  background: transparent;
  text-shadow:
    1px 1px 2px rgba(128, 0, 128, 1),
    1px 1px 5px rgba(128, 0, 128, 1),
    1px 1px 10px rgba(128, 0, 128, 1);
  box-shadow:
    1px 1px 2px rgba(128, 0, 128, 1),
    1px 1px 5px rgba(128, 0, 128, 1),
    1px 1px 10px rgba(128, 0, 128, 1),
    1px 1px 2px rgba(128, 0, 128, 1) inset,
    1px 1px 5px rgba(128, 0, 128, 1) inset,
    1px 1px 10px rgba(128, 0, 128, 1) inset;
  }
.keys:active{
  transform: scale(0.95);
  background: rgba(128, 128, 128, 0.5);
  border-color: black;
  transition: background 0s, transform 0.2s, box-shadow 0s;
  text-shadow:
    1px 1px 2px rgba(128, 0, 128, 1),
    1px 1px 5px rgba(128, 0, 128, 1),
    1px 1px 10px rgba(128, 0, 128, 1);
  box-shadow:
    1px 1px 2px rgba(128, 0, 128, 1),
    1px 1px 5px rgba(128, 0, 128, 1),
    1px 1px 10px rgba(128, 0, 128, 1);
}