*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100dvh;
    background: black;
}
.background{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.circle{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    filter: blur(200px);
}
.background :first-child{
    margin-top: -250px;
    background: blue;
}
.background :last-child{
    margin-bottom: -250px;
    background: purple;
}
.page1{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 78px);
    align-items: center;
    justify-content: center;
}
.header{
    z-index: 1;
    color: white;
    padding-inline: 50px;
    padding-block: 10px;
    display: flex;
    align-items: center;
    background: rgba(0, 255, 255, 0.2);
    border-radius: 75px;
    margin-inline: 20px;
    margin-bottom: 18px;
    font-family: "Audiowide";
    opacity: 0;
    transform: translateY(100%);
    gap: 7.5%;
    animation:
            appearFromBottom 1s ease-in-out forwards,
            shrinken 3s ease-in-out infinite 5s;
    position: sticky;
    top: 15px;
}
@keyframes shrinken {
    0% , 100% {
        margin-inline: 20px;
    }
    50% {
        margin-inline: 30px;
    }
}
hr{
    opacity: 0;
    /* Same animation but since 100% is so less its basically just appear */
    animation: appearFromBottom 1s ease-in-out forwards 0.5s;
    position: sticky;
    top: 86px;
}
@keyframes appearFromBottom {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.home{
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}
.hometext{
    position: relative;
    font-size: 30px;
    cursor: pointer;
}
.homeblur{
    position: absolute;
    top: 0;
    right: 150%;
    width: 25px;
    height: 100px;
    filter: blur(5px);
    background: rgba(0, 255, 255, 0.8);
    transform: skew(-30deg);
}
.home:hover .homeblur{
    right: -50%;
    transition: 0.75s;
}
.aboutbox{
    margin-left: auto;
    font-size: 16px;
    width: 30%;
    gap: 15px;
    display: flex;
    align-items: center;
    font-family: "Poppins";
    justify-content: space-between;
}
.about{
    cursor: pointer;
    position: relative;
}
.aboutbox > * + *::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2.8px;
    border-radius: 2px;
    background: cyan;
    bottom: 0;
    left: 0;
    z-index: 2;
    transition: 0.3s;
}
.aboutbox > * + *:hover::after{
    width: 100%;
}
.aboutbox > * + *:active{
    transform: rotateX(-360deg);
    transition: 0.3s;
}
#aboutFirst{
    cursor: pointer;
    border: 2px solid white;
    margin-right: 5px;
    padding-block: 5px;
    padding-inline: 25px;
    border-radius: 50px;
    font-size: 14px;
    background: transparent;
    transition: 0.2s;
}
#aboutFirst:hover{
    background: rgba(0, 255, 255, 0.5);
}
#aboutFirst:active{
    background: grey;
    color: grey;
    transition: 0s;
}
.aboutout{
    font-size: 14px;
    padding-block: 4px;
    padding-inline: 20px;
    border-radius: 50px;
    background: white;
    color: #000;
    cursor: pointer;
    border: 2px solid transparent;
}
.aboutout:hover{
    animation: corner 1s linear infinite;
}
@keyframes corner {
    0%,100% {
        border-radius: 20px;
        padding-block: 4px;
    }
    50% {
        border-radius: 50%;
        padding-block: 8px;
    }
}
.aboutout:active{
    animation: none;
    background: grey;
    border: 2px solid white;
    color: white;
}
.page1Body{
    width: 100%;
    background: red;
}









.page2{
    z-index: 100000;
    position: relative;
    width: 100%;
    font-size: 20px;
    color: white;
    height: 200vh;
    background: transparent;
}