*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.toggle-Button{
    padding-inline: 20px;
    padding-block: 5px;
    margin-inline: 50px;
    margin-block: 50px;
}
.page-Content{
    /* .page-Content is already set to flex in toPage.js */
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: beige;
    animation: changeColor 1s linear forwards 7.6s;
}
@keyframes changeColor {
    to {
        background: black;
    }
}
.page{
    position: relative;
    font-family: "Poppins";
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: beige;
    animation: fall 0.6s linear forwards 7s;
}
.text{
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
}
h1{
    opacity: 0;
    animation: introAppear 1.2s ease-in-out 0.25s forwards;
}
#myName{
    opacity: 0;
    width: 275px;
    background: linear-gradient(to right, beige 70%, transparent);
    animation: introAppear 1.2s ease-in-out 0.5s forwards;
}
#nameText {
    color: beige;
    text-shadow:
        1px 1px 0 black,
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black;
}
p{
    font-weight: 500;
    opacity: 0;
    animation: introAppear 1.2s ease-in-out 2.75s forwards;
}
@keyframes introAppear {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.text :first-of-type{
    width: max-content;
}
.text h1 ,.text p {
    background: beige;
}
svg {
    transform: rotate(-180deg);
    position: absolute;
    left: 45.75%;
}
circle {
    opacity: 0;
    stroke-width: 15;
    fill: transparent;
}
svg :first-child{
    stroke-dasharray: 565.48;
    stroke-dashoffset: 565.48;
    stroke: red;
    animation: draw 1.2s linear forwards 1.4s;
}
svg :nth-child(2){
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    stroke: blue;
    animation: draw 1.2s linear forwards 1.1s;
}
svg :nth-child(3){
    stroke-dasharray: 525;
    stroke-dashoffset: 525;
    stroke: green;
    animation: draw 1.2s linear forwards 1.7s;
}
svg :last-child{
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke: yellow;
    animation: draw 1.2s linear forwards 1.5s;
}
@keyframes draw {
    0%{
        opacity: 1;
    }
    75% {
        opacity: 1;
        stroke-dashoffset: 0;
    }
    100% {
        opacity: 1;
        stroke-dashoffset: 200;
    }
}
.load{
    width: 50px;
    height: 50px;
    background: transparent;
    position: relative;
    left: 15px;
}
.cir1{
    opacity: 0;
    scale: 0.2;
    width: 50px;
    height: 50px;
    position: absolute;
    background: transparent;
    border-radius: 50%;
    border: 3px solid black;
    animation:
            comeup 2s ease-in-out forwards 3.55s,
            rotateY 2s ease-in infinite 3.75s;}
.cir2{
    opacity: 0;
    scale: 0.2;
    width: 50px;
    height: 50px;
    position: absolute;
    background: transparent;
    border-radius: 50%;
    border: 3px solid black;
    animation:
            comeup 2s ease-in-out forwards 3.55s,
            rotateX 2s ease-in infinite 3.75s;
}
@keyframes comeup {
    to {
        opacity: 1;
        scale: 1;
    }
}
@keyframes rotateY {
    to {
        transform: rotateY(360deg);
    }
}
@keyframes rotateX {
    to {
        transform: rotateX(360deg);
    }
}
.rain {
    position: absolute;
    top: 0;
    width: 2px;
    transform: translateY(0vh);
    height: 20px;
    background: rgba(0, 0, 0, 0.6);
    animation:
            fall 56s linear infinite,
            changeRain 1s linear forwards 3.2s;
}
@keyframes changeRain {
    to {
        background: rgba(255, 255, 255, 0.6);
    }
}
@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
.rippleEffect{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    transform: scale(1);
    border: 30px solid rgba(150, 150, 150, 0.2);
    filter: blur(10px);
    opacity: 0;
    animation: rippleEffect 8s ease-in-out forwards 10.1s;
}
@keyframes rippleEffect {
    0% { opacity: 0; }
    10% {
        opacity: 1;
        transform: scale(17);
    }
    100% {
        transform: scale(20);
    }
}
.universe{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loadingBar{
    height: 20px;
    width: 150px;
    border-radius: 5px;
    background: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    transform: scale(0);
    animation: appearBar 1.2s ease-in-out forwards 10.2s;
}
@keyframes appearBar {
    0% {
        transform: scale(0);
    }
    68% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.fill{
    position: absolute;
    width: 200px;
    height: 25px;
    background: linear-gradient(to right, purple , red);
    border-radius: 20px;
    animation: fillUp 1s ease-out forwards 11.75s;
    transform-origin: left;
    transform: translateX(-220px);
}
@keyframes fillUp {
    to {
        transform: translateX(0px);
    }
}
.fill::after{
    position: absolute;
    content: "";
    top: -40px;
    transform: translateX(-150px) skewX(-45px);
    width: 10px;
    height: 100px;
    background: grey;
    filter: blur(3px);
    animation: fillUpEffect 1s linear forwards 12.5s;
}
@keyframes fillUpEffect {
    to {
        transform: skewX(-45px) translateX(250px);
    }
}
.universe a{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.universe button{
    transform-origin: center;
    color: white;
    font-family: "Poppins";
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 5px;
    position: absolute;
    transform: scale(0) translateY(-45px);
    opacity: 0;
    z-index: 10;
    animation: appearDown 0.8s ease-in-out forwards 13s;
    cursor: pointer;
}
@keyframes appearDown {
    to {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}
.universe button:hover{
    padding-inline: 15px;
    padding-block: 10px;
    border: 1px solid white;
    box-shadow: 0 0 5px white inset;
    text-shadow: 1px 1px 2px rgb(70, 70, 70);
}
.universe button:active{
    padding-inline: 10px;
    padding-block: 5px;
    border: 1px solid orangered;
    box-shadow: 0 0 5px orange inset;
    text-shadow: 1px 1px 2px orange;
    transition: 0.3s;
}