* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  height: 100dvh;
}
.intro {
  width: 100vw;
  height: 100dvh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  overflow: hidden;
  z-index: 10;
}
.intro .stage {
  width: 495px;
  height: 450px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: close 3s ease-in-out forwards 2s;
  overflow: hidden;
}
@keyframes close {
  0% {
  }
  100% {
    height: 0;
  }
}
.intro .stage img {
  position: absolute;
  width: 500px;
  filter: brightness(0) invert(0);
  z-index: 1;
}

.lineArt {
  display: flex;
  gap: 10px;
}
.linesofArt {
  width: 12px;
  height: 500px;
  background: white;
  transform: rotate(-30deg) translateX(-100%) translateY(-100%);
  animation: translate 0.25s ease-in-out forwards;
}

.linesofArt:nth-child(1) {
  animation-delay: 0.3s;
}
.linesofArt:nth-child(2) {
  animation-delay: 0.4s;
}
.linesofArt:nth-child(3) {
  animation-delay: 0.5s;
}
.linesofArt:nth-child(4) {
  animation-delay: 0.6s;
}
.linesofArt:nth-child(5) {
  animation-delay: 0.7s;
}
.linesofArt:nth-child(6) {
  animation-delay: 0.8s;
}
.linesofArt:nth-child(7) {
  animation-delay: 0.9s;
}
.linesofArt:nth-child(8) {
  animation-delay: 1s;
}
.linesofArt:nth-child(9) {
  animation-delay: 1.1s;
}
.linesofArt:nth-child(10) {
  animation-delay: 1.2s;
}
.linesofArt:nth-child(11) {
  animation-delay: 1.3s;
}
.linesofArt:nth-child(12) {
  animation-delay: 1.4s;
}
.linesofArt:nth-child(13) {
  animation-delay: 1.5s;
}
.linesofArt:nth-child(14) {
  animation-delay: 1.6s;
}
.linesofArt:nth-child(15) {
  animation-delay: 1.7s;
}
.linesofArt:nth-child(16) {
  animation-delay: 1.8s;
}
.linesofArt:nth-child(17) {
  animation-delay: 1.9s;
}
.linesofArt:nth-child(18) {
  animation-delay: 2s;
}
.linesofArt:nth-child(19) {
  animation-delay: 2.1s;
}
.linesofArt:nth-child(20) {
  animation-delay: 2.2s;
}
.linesofArt:nth-child(21) {
  animation-delay: 2.3s;
}
.linesofArt:nth-child(22) {
  animation-delay: 2.4s;
}
.linesofArt:nth-child(23) {
  animation-delay: 2.5s;
}
.linesofArt:nth-child(24) {
  animation-delay: 2.6s;
}
.linesofArt:nth-child(25) {
  animation-delay: 2.7s;
}
.linesofArt:nth-child(26) {
  animation-delay: 2.8s;
}
.linesofArt:nth-child(27) {
  animation-delay: 2.9s;
}
.linesofArt:nth-child(28) {
  animation-delay: 3s;
}
@keyframes translate {
  0% {
  }
  100% {
    transform: rotate(-30deg) translateX(0) translateY(0);
  }
}
.bg {
}

@media (max-width: 480px) {
  .intro .stage {
    width: 360px;
    height: 320px;
  }
  .intro .stage img {
    width: 370px;
  }
}
