*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth; /* Enables smooth scroll globally */
}
@keyframes rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
.page1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.page1text{
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: max-content;
    padding: 25px;
}
.adressbox{
    color: white;
    font-size: 10px;
    font-weight: 600;
    transform-origin: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    padding: 2px;
    padding-inline: 18px;
    border-radius: 50px;
    border: 1px solid transparent;
    text-shadow:
        1px 1px 2px rgba(0,0,0,1),
        1px 1px 5px rgba(0,0,0,1),
        1px 1px 10px rgba(0,0,0,1);
}
.adressbox:hover{
    cursor: pointer;
    padding-inline: 35px;
    scale: 1.2;
    top: -50px;
    transform: translateY(-5px);
    transition: 0.3s;
    border: 1px solid;
}
.adressbox:active{
    scale: 0.8;
    border: 0px;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.1);
}
.fend{
    width: max-content;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow:
        1px 1px 2px rgba(0,0,0,1),
        1px 1px 5px rgba(0,0,0,1),
        1px 1px 10px rgba(0,0,0,1);
}
.devbox{
    margin-top: -20px;
    position: relative;
}
.devshadow{
    position: absolute;
    font-size: 50PX;
    font-weight: bold;
    text-shadow:
        1px 1px 2px rgba(0,0,0,1),
        1px 1px 5px rgba(0,0,0,1),
        1px 1px 10px rgba(0,0,0,1);
}
.dev{
    position: relative;
    z-index: 1;
    width: max-content;
    background: linear-gradient(to right, blue, purple);
    background-clip: text;
    -webkit-text-fill-color: text;
    color: transparent;
    font-size: 50PX;
    font-weight: bold;
}
.fendtext{
    margin-top: 8px;
    width: max-content;
    max-width: 80%;
    color: white;
    font-size: 15px;
    text-shadow: 
        1px 1px 2px rgba(0,0,0,0.5),
        1px 1px 4px rgba(0,0,0,0.5),
        0px 0px 5px rgba(0,0,0,1);
}
.quadrakeybox{
    font-size: 17.5px;
    margin-top: 20px;
    display: flex;
    width: max-content;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.keys{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px;
    padding-inline: 20px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid transparent;
    text-shadow:
        1px 1px 2px rgba(0,0,0,1),
        1px 1px 5px rgba(0,0,0,1),
        1px 1px 10px rgba(0,0,0,1);
}
.keys:hover{
    transition: 0.3s;
    scale: 1.1;
    border: 1px solid;
    background-color: rgba(0,0,0,0);
    text-shadow:
        1px 1px 2px rgba(128, 0, 128, 1),
        1px 1px 5px rgba(128, 0, 128, 1),
        1px 1px 10px rgba(128, 0, 128, 1);
    box-shadow:
        1px 1px 2px rgba(128, 0, 128, 1),
        1px 1px 5px rgba(128, 0, 128, 1),
        1px 1px 10px rgba(128, 0, 128, 1);
    box-shadow:
        1px 1px 2px rgba(128, 0, 128, 1),
        1px 1px 5px rgba(128, 0, 128, 1),
        1px 1px 10px rgba(128, 0, 128, 1)inset;
}
.doublehashes{
    margin-top: 20px;
    display: flex;
    width: max-content;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 20px;;
}
.hashholder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5px;
    overflow: hidden;
    position: relative;
    border-radius: 18.5px;
    background-color: grey;
    box-shadow:
        1px 1px 2px rgba(0,0,0,1),
        1px 1px 5px rgba(0,0,0,1);
}
.runninglight{
    width: 100%;
    height: 50%;
    margin: -3.5px;
    filter: blur(10px);
    position: absolute;
    border-radius: 20px;
    animation: rotate 1s linear infinite;
    background: linear-gradient(to right, darkblue, purple);
}
.hashes{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    padding-inline: 25px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.95);
    cursor: pointer;
    text-shadow:
        1px 1px 2px rgba(0,0,0,1),
        1px 1px 5px rgba(0,0,0,1),
        1px 1px 10px rgba(0,0,0,1);
}
.hashholder:hover{
    background-color: black;
    box-shadow:
        0px 0px 2px rgba(128,128,128,1),
        0px 0px 5px rgba(128,128,128,1);
}
.hashholder:hover .hashes{
    background-color: rgba(128,128,128,0.90);
    box-shadow:
        1px 1px 2px rgba(0,0,0,1),
        1px 1px 5px rgba(0,0,0,1)inset;
}
.hashholder:has(.hashes:hover) .runninglight {
    filter: blur(5px);
    transition: 0.3s ease;
    animation: rotate 3s linear infinite;
    background: linear-gradient(to right, rgb(0, 255, 255), rgb(255, 0, 255));
}
.page1text{
    margin-left: 15%;
    scale: 1.3;
    transform: translateY(75px);
    width: max-content;
    max-width: 80%;
}
@media (max-width: 1537px) {
    .navbar{
        padding-top: 1.25rem;
        padding-bottom: 1rem;
        width: 100vw;
    }
    .page1text{
        width: max-content;
        max-width: 60%;
        left: -75px;
    }
    .element{
        scale: 2;
        top: 150px;
        margin-right: 27.5%;
        transform: translateX(20%);
    }
}
@media (max-width: 1280px) {
    .navbar{
        height: 25px;
        padding-top: 1.25rem;
        padding-bottom: 1rem;
        width: 100vw;
    }
    .page1text{
        scale: 1.15;
        width: max-content;
        max-width: 60%;
        margin-top: -40px;
        left: -7.5%;
    }
    .element{
        scale: 1.55;
        top: 100px;
        margin-right: 20%;
        transform: translateX(15%);
    }
}
@media (max-width: 1024px) {
    .navbar{
        padding-top: 1.25rem;
        padding-bottom: 1rem;
        width: 100vw;
        height: 25px;
    }
    .page1text{
        margin-top: -80px;
        scale: 0.85;
        width: max-content;
        max-width: 60%;
        left: -150px;
    }
    .element{
        scale: 1.35;
        top: 25px;
        margin-right: 25%;
        transform: translateX(15%);
    }
}
@media (max-width: 768px) {
    .navbar{
        height: 35px;
        padding-top: 0rem;
        padding-bottom: 0rem;
        width: 100vw;
    }
    .navheadshadow , .navhead{
        margin-left: 0.1rem;
        scale: 0.6;
    }
    .nav{
        scale: 0.75;
        transform: translateX(10%);
    }
    .page1text{
        padding: 0px;
        scale: 0.8;
        top: -25px;
        left: -115px;
        width: max-content;
        max-width: 100%;
    }
    .element{
        scale: 1;
        top: -20px;
        margin-right: 20%;
        transform: translateX(20%);
    }
}
@media (max-width: 475px) {
    .navbar{
        height: 45px;
        padding-top: 0rem;
        padding-bottom: 0rem;
        width: 100vw;
    }
    .navheadshadow , .navhead{
        margin-left: 0.1rem;
        scale: 0.6;
    }
    .page1text{
        top: -15px;
        padding: 0px;
        scale: 0.8;
        left: -15%;
        width: max-content;
        max-width: 100%;
    }
    .element{
        top: 10px;
        scale: 0.8;
        right: 15px;
        margin-right: 20%;
        transform: translateX(15%);
    }
}
@media (max-width: 314px) {
    .navbar{
        height: 30px;
        padding-top: 0rem;
        padding-bottom: 0rem;
        width: 100vw;
    }
    .navheadshadow , .navhead{
        margin-left: 0.1rem;
        scale: 0.45;
    }
    .nav{
        scale: 0.6;
    }
    .page1text{
        padding: 0px;
        scale: 0.8;
        top: -50px;
        left: -7.5%;
        width: max-content;
        max-width: 100%;
    }
    .element{
        scale: 0.7;
        margin-top: -75px;
        margin-right: 25%;
        transform: translateX(15%);
    }
}