@keyframes Wave-in {
    0% {
        transform: translateY(-55px);
    }
    50% {
        transform: translateY(55px);
    }
    100% {
        transform: translateY(-55px);
    }
}
@keyframes Wave-out {
    0% {
        transform: translateY(55px);
    }
    50% {
        transform: translateY(-55px);
    }
    100% {
        transform: translateY(55px);
    }
}
@keyframes ScaleU {
    0% {
        background-color: blue;
        transform: scale(1);
        opacity: 1;
        box-shadow: 0px 0px 3px rgba(225, 0, 225, 0.4);
        
    }
    25% {
        background-color: rgb(255, 0, 255);
        transform: scale(0.1);
        opacity: 0.1;
        box-shadow: 1px 1px 6px rgba(0, 0, 255, 0.4);
    }
    50% {
        background-color: rgb(255, 0, 255);
        transform: scale(1);
        opacity: 1;
        box-shadow: 1px 1px 6px rgba(0, 0, 255, 0.4);
    }
    75%{
        background-color: rgb(255, 0, 255);
        transform: scale(1);
        opacity: 1;
        box-shadow: 1px 1px 6px rgba(0, 0, 255, 0.4);
    }
    100%{
        background-color: blue;
        transform: scale(1);
        opacity: 1;
        box-shadow: 0px 0px 3px rgba(225, 0, 225, 0.4);
    }
}
@keyframes ScaleD {
    0% {
        background-color: blue;
        transform: scale(1);
        opacity: 1;
        box-shadow: 0px 0px 3px rgba(225, 0, 225, 0.4);
    }
    25% {
        background-color: rgb(255, 0, 255);
        transform: scale(1);
        opacity: 1;
        box-shadow: 1px 1px 6px rgba(0, 0, 255, 0.4);
    }
    50% {
        background-color: rgb(255, 0, 255);
        transform: scale(1);
        opacity: 1;
        box-shadow: 1px 1px 6px rgba(0, 0, 255, 0.4);
    }
    75%{
        background-color: rgb(255, 0, 255);
        transform: scale(0.1);
        opacity: 0.1;
        box-shadow: 1px 1px 6px rgba(0, 0, 255, 0.4);
    }
    100%{
        background-color: blue;
        transform: scale(1);
        opacity: 1;
        box-shadow: 0px 0px 3px rgba(225, 0, 225, 0.4);
    }
}
.dnaholder{
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.dnadiv{
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
.dnawaveup,
.dnawavedown{
    gap: 12px;
    height: 150px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.waveup{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
}
.wavedown{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}
.waveup::after,
.wavedown::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 0, 255);
}
.waveup{
    animation: Wave-in 3s infinite ease-in-out;
    animation-delay: calc(var(--i) * 0.1s);
}
.wavedown{
    animation: Wave-out 3s infinite ease-in-out;
    animation-delay: calc(var(--i) * 0.1s);
}
.waveup::after{
    animation: ScaleU 3s infinite linear;
    animation-delay: calc(var(--i) * 0.1s);
}
.wavedown::after{
    animation: ScaleD 3s infinite linear;
    animation-delay: calc(var(--i) * 0.1s);
}
.page3{
    margin-top: 250px;
}
.projects{
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 175px;
}
.project{
    width: 150px;
    height: 70px;
    display: flex;
    color: black;
    margin-left: 10%;
    transition: 0.3s;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    background-color: grey;
    text-shadow: 0px 0px 10px rgba(255, 225, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.project:hover{
    scale: 0.95;
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.5);
}
.project:active{
    scale: 0.8;
    color: white;
    background-color: black;
    box-shadow:
        0px 0px 5px rgba(255, 0, 255, 0.5),
        1px 1px 10px rgba(255, 0, 255, 0.5);
}